.outlined-button {
  padding: 12px 14px;
  border: 1px solid #111111;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  color: #111111;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
  transition: all 0.5s ease;
}

.outlined-button:hover {
  background-color: #f4f2f1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 0px;
}

.filled-button {
  padding: 12px 14px;
  border: 1px solid #111111;
  border-radius: 8px;
  background-color: #111111;
  cursor: pointer;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
  transition: all 0.5s ease;
}

.filled-button:hover {
  background-color: #3d3d3d;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 0px;
}
